<div class="aula">
    <p>diretivas works!</p>
    <h2 [ngStyle]="{'font-size': tamanho,
                    'font-family': fonte,
                    'color': cor}">
        Testando Diretivas
    </h2>
    <h3 [ngStyle]="{'color':'pink'}">Aplicando estilos dinamicamente</h3>
    <h2 [ngClass]="classes_css">Testando diretiva de classe 1</h2>
    <h2 [ngClass]="classes_css[0]">Testando diretiva de classe</h2>
    <h2 [ngClass]="sublinhado_css">Testando diretiva de classe 1</h2>
    <h2 class=titulo-sublinhado>Testando estilo de classe titulo-sublinhado</h2>
</div>
